{% extends './base.html' %}
{% block title %}Ruido - Agregar Medicion{% endblock %}
{% block content %}
<div class="container">
    <div class="left">
        <h1>Cargar Excel de Mediciones</h1>
        <div class="info">
            <label class="title">Instrucciones</label>
            <p>Para cargar una medición a la base de datos y que esta se refleje en la tabla automáticamente, por favor utilizar el archivo de análisis obtenido en la función de procesado.<br>
                Asegurarse que en el archivo el nombre del punto sea "R1, R2, R3 o R4" de manera literal, y que los cálculos dentro del mismo se hayan realizado.<br>
                Una vez cargado una medición en un día para un punto, esta no se puede reemplazar, en caso de desearlo se debe enviar un mail diciendo cuál es la medición a reemplazar para que la actual sea eliminada y se pueda cargar la versión nueva de la misma.<br>
            </p>
        </div>
    </div>
    <div class="right">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="title">Planilla de análisis</label>
            <br>
            <input type="file" name="archivo_excel" accept=".xlsx">
            <br>
            <br>
            <button type="submit">Cargar</button>
        </form>
    </div>
</div>
{% endblock %}