<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - ADAPTA</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
</head>
<body>
    <nav>
        <div class="navbar">
        <!-- Logo de la empresa -->
        <a class="navbar-logo" href="#">
            <img src="{% static '/logo.png' %}" alt="Logo de la empresa">
        </a>
    
        <!-- Enlaces de navegación -->
        <div class="navbar-links" id="navbarNav">
            <ul class="navbar-links">
                <li><a href="{% url 'filtrado-ruido' %}">Filtrado de datos de ruido</a></li>
                <li><a href="{% url 'filtrado-aire' %}">Filtrado de datos de aire</a></li>
            </ul>
        </div>
    
        <!-- Mensaje de bienvenida y nombre de usuario -->
        {% if user.is_authenticated %}
            <p class="navbar-welcome">
            Bienvenido, {{ user.username }}
            </p>
        {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>