{% extends './base.html' %}
{% block title %}Experiencia-Proyectos{% endblock %}
{% block content %}
<div class="tableForm">
    <div class="top-section">
        <h1>Proyectos</h1>
        <div class="sub-section">
            <a href="{% url 'experiencia-proyectos-agregar' %}">Agregar Proyecto</a>
        </div>
    </div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Razón Social</th>
                    <th>Localización</th>
                    <th>Sector</th>
                    <th>Nombre Contacto</th>
                    <th>Telefono Contacto</th>
                    <th>eMail Contacto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.razon.nombre }}</td>
                    <td>{{ proyecto.localizacion.all|join:'; ' }}</td>
                    <td>{{ proyecto.get_sector_display }}</td>
                    <td>{{ proyecto.contacto_nombre }}</td>
                    <td>{{ proyecto.contacto_telefono }}</td>
                    <td>{{ proyecto.contacto_mail }}</td>
                    <td>
                        <form method="POST" action="{% url 'borrar_proyecto' proyecto.id %}">
                            {% csrf_token %}
                            <button type="submit">Borrar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}