{% extends './base.html' %}
{% block title %}Experiencia-Razones Sociales{% endblock %}
{% block content %}
<div class="tableForm">
    <div class="top-section">
        <h1>Razones Sociales</h1>
        <div class="sub-section">
            <a href="{% url 'experiencia-razones-agregar' %}">Agregar Razón Social</a>
        </div>
    </div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Razón Social</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for razon in razones %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ razon.nombre }}</td>
                    <td>
                        <form method="POST" action="{% url 'borrar_razon' razon.id %}">
                            {% csrf_token %}
                            <button type="submit">Borrar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}