{% extends './base.html' %}
{% block title %}Experiencia-Proyectos{% endblock %}
{% block content %}
<div>
    <div class="container" style="height: fit-content;">
        <div class="div-atras">
            <a class="boton-atras" href="{% url 'experiencia-proyectos' %}"> <- Atrás</a>
        </div>
    </div>
    <div class="container">
        <div class="left">
            <h1>Proyectos</h1>
            <div class="info">
                <label class="title">Instrucciones</label>
                <p>
                    El nombre del "proyecto" debe ser único, prestar atención si ya existe el proyecto a agregar en la tabla previamente.<br>
                    En caso contarario, completar todos los campos de los cuales se tenga información y guardar el "proyecto".
                </p>
            </div>
        </div>
        <div class="right">
            <form method="POST">
                {% csrf_token %}
                <label for="nombre-proyecto" class="title">Nombre</label>
                <br>
                <input type="text" name="nombre-proyecto" required>
                <br>
                <br>
                <label for="contacto-nombre" class="title">Contacto Nombre</label>
                <br>
                <input type="text" name="contacto-nombre" required>
                <br>
                <br>
                <label for="contacto-telefono" class="title">Contacto Teléfono</label>
                <br>
                <input type="text" name="contacto-telefono">
                <br>
                <br>
                <label for="contacto-mail" class="title">Contacto Correo Electrónico</label>
                <br>
                <input type="email" name="contacto-mail">
                <br>
                <br>
                <label for="razon" class="title">Razón Social</label>
                <br>
                <select name="razon" required>
                    {% for razon in razones_sociales %}
                    <option value="{{ razon.id }}">{{ razon.nombre }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <label for="localizacion" class="title">Localizaciones</label>
                <br>
                <!-- <select name="localizacion" multiple>
                    {% for localizacion in localizaciones %}
                    <option value="{{ localizacion.id }}">{{ localizacion }}</option>
                    {% endfor %}
                </select> -->
                {% for localizacion in localizaciones %}
                    <label>
                        <input type="checkbox" name="localizacion" value="{{ localizacion.id }}">
                        {{ localizacion }}
                    </label>
                    <br>
                {% endfor %}
                <br>
                <br>
                <label for="sector" class="title">Sector</label>
                <br>
                <select name="sector" required>
                    {% for choice in SECTOR_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <button type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
