{% extends './base.html' %}
{% block title %}Experiencia-Tabla{% endblock %}
{% block content %}
<div class="tableForm" id="experiencia-menu">
    <div class="experiencia-top">
        <div class="div-atras">
            <a class="boton-atras" href="{% url 'menu-experiencia' %}"> <- Atrás</a>
        </div>
        <h1>Experiencias</h1>
        <div class="filters">
            <h2>Filtros</h2>
            <!-- Filtrado por codigo -->
            <label for="codigo-filter" class="title">Código:</label>
            <input type="text" id="codigo-filter">
            <!-- Filtrado por fehca inicio -->
            <label for="dia-inicio-filter" class="title">Fecha de inicio:</label>
            <div>
                <input type="text" id="dia-inicio-filter" placeholder="Día" maxlength="2">
                <input type="text" id="mes-inicio-filter" placeholder="Mes" maxlength="2">
                <input type="text" id="ano-inicio-filter" placeholder="Año" maxlength="4">
            </div>
            <!-- Filtrado por fecha fin -->
            <label for="dia-fin-filter" class="title">Fecha Fin:</label>
            <div>
                <input type="text" id="dia-fin-filter" placeholder="Dia">
                <input type="text" id="mes-fin-filter" placeholder="Mes">
                <input type="text" id="ano-fin-filter" placeholder="Año">
                <select id="en-curso-filter">
                    <option value="">Todo</option>
                    <option value="en_curso">En curso</option>
                </select>
            </div>

            <div style="margin-top: 10px;">
                <!-- Filtrado razon social -->
                <label for="razon-filter" class="title">Razon Social:</label>
                <select id="razon-filter">
                    <option value="">Todos</option>
                    {% for razon in razones %}
                        <option value="{{ razon.id }}">{{ razon.nombre }}</option>
                    {% endfor %}
                </select>
                <!-- Filtrado proyecto -->
                <label for="proyecto-filter" class="title">Nombre:</label>
                <select id="proyecto-filter">
                    <option value="">Todos</option>
                    {% for proyecto in proyectos %}
                        <option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="margin-top: 10px;">
                <!-- Filtrado por categoria -->
                <label for="cat-servicios-filter" class="title">Categoría de Servicios:</label>
                <select id="cat-servicios-filter">
                    <option value="">Todos</option>
                    {% for choice in CAT_CHOICES %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <!-- Filtrado por sector -->
                <label for="sector-filter" class="title">Sector:</label>
                <select id="sector-filter">
                    <option value="">Todos</option>
                    {% for choice in SECTOR_CHOICES %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <!-- Filtrado por localizacion -->
                <label for="localizacion-filter" class="title">Localización:</label>
                <select id="localizacion-filter">
                    <option value="">Todos</option>
                    {% for choice in localizaciones %}
                        {% if choice.pais != 'Internacional' %}
                        <option value="{{ choice.departamento }}">{{ choice }}</option>
                        {% else %}
                        <option value="{{ choice }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div style="margin-top: 10px;">
                <label for="checkbox-filter" class="title">Filtrar por Checkbox:</label>
                <select id="checkbox-filter">
                    <option value="all">Todas</option>
                    <option value="checked">Marcadas</option>
                    <option value="unchecked">No Marcadas</option>
                </select>
            </div>
            <button id="reset-filters">Reiniciar Filtros</button>
        </div>
        <div class="experiencia-sub-section">
            <!-- Exportar a excel -->
            <a id="seleccionar-todos">Seleccionar Todos</a>
            <a id="deseleccionar-todos">Deseleccionar Todos</a>
            <a id="exportar-excel">Exportar selección a Excel</a>
            <a href="{% url 'experiencia-agregar' %}">Agregar Experiencia</a>
        </div>
    </div>
    <div class="table-section">
        <table id="contratos-table" style="table-layout: fixed; max-width: 100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Seleccionado</th>
                    <th>Código</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Nombre</th>
                    <th>Razón Social</th>
                    <th>Categoría Servicios</th>
                    <th>Descripción</th>
                    <th>Sector</th>
                    <th>Localización</th>
                    <th colspan="3">Información Contacto</th>
                    <th>Ficha</th>
                    <th>Atestado</th>
                    <th>Roles</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contrato in contratos %}
                <tr data-codigo="{{ contrato.codigo }}"
                    data-cat-servicios="{{ contrato.catServicios }}"  
                    data-cat-servicios-display="{{ contrato.get_catServicios_display }}" 
                    data-proyecto="{{ contrato.proyecto.id }}"
                    data-proyecto-nombre="{{ contrato.proyecto.nombre }}" 
                    data-razon="{{ contrato.proyecto.razon.id }}"
                    data-razon-nombre="{{ contrato.proyecto.razon.nombre }}"
                    data-sector="{{ contrato.proyecto.sector }}"
                    data-sector-display="{{ contrato.proyecto.get_sector_display }}" 
                    data-fecha-inicio="{{ contrato.fechaInicio.day }}-{{ contrato.fechaInicio.month }}-{{ contrato.fechaInicio.year }}"
                    {% if contrato.fechaFin %}
                        data-fecha-fin="{{ contrato.fechaFin.day }}-{{ contrato.fechaFin.month }}-{{ contrato.fechaFin.year }}"
                    {% else %}
                        data-fecha-fin="En curso"
                    {% endif %}
                    data-descripcion = "{{ contrato.descripcion }}"
                    data-localizaciones="{% for localizacion in contrato.proyecto.localizacion.all %}{% if localizacion.pais != 'Internacional' %}{{ localizacion.departamento }}{% else %}{{ localizacion.pais }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}"
                    data-localizacion="{{ contrato.proyecto.localizacion.all|join:'; ' }}"
                    data-contacto-nombre="{{ contrato.proyecto.contacto_nombre }}"
                    data-contacto-telefono="{{ contrato.proyecto.contacto_telefono }}"
                    data-contacto-mail="{{ contrato.proyecto.contacto_mail }}"
                    data-ficha="{{ contrato.ficha }}"
                    data-atestado="{{ contrato.atestado }}"
                    data-empleados="{% for contrato_empleado in contrato.contratoempleado_set.all %}{{ contrato_empleado.empleado.nombre }} - {{ contrato_empleado.rol.nombre }}; {% endfor %}"
                >
                    <td>{{ forloop.counter }}</td>
                    <td><input type="checkbox" name="seleccionado" value="{{ contrato.codigo }}" class="checkbox" style="height: 20px; width: 20px;"></td>
                    <td>{{ contrato.codigo }}</td>
                    <td>{{ contrato.fechaInicio }}</td>
                    <td>{% if contrato.fechaFin %}
                            {{ contrato.fechaFin|date:"M. d, Y" }}
                        {% else %}
                            En curso
                        {% endif %}
                    </td>
                    <td>{{ contrato.proyecto.nombre }}</td>
                    <td>{{ contrato.proyecto.razon.nombre }}</td>
                    <td>{{ contrato.get_catServicios_display }}</td>
                    <td style="word-wrap: break-word">{% if contrato.descripcion %}{{ contrato.descripcion }}{% else %}{{ "" }}{% endif %}</td>
                    <td>{{ contrato.proyecto.get_sector_display }}</td>
                    <td>{{ contrato.proyecto.localizacion.all|join:', ' }}</td>
                    <td>{{ contrato.proyecto.contacto_nombre }}</td>
                    <td>{{ contrato.proyecto.contacto_telefono }}</td>
                    <td>{{ contrato.proyecto.contacto_mail }}</td>
                    <td><a href="{{ contrato.ficha }}" target="_blank">Ver Ficha</a></td>
                    <td><a href="{{ contrato.atestado }}" target="_blank">Ver Atestado</a></td>
                    <td>
                        {% for contrato_empleado in contrato.contratoempleado_set.all %}
                            {{ contrato_empleado.empleado.nombre }} - {{ contrato_empleado.rol.nombre }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'experiencia-editar' contrato.id %}">Editar</a>
                        <a href="{% url 'borrar_contrato' contrato.id %}">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Función para filtrar la tabla de contratos
    function filtrarContratos() {
        const codigoFilter = $("#codigo-filter").val().toUpperCase();
        const catServiciosFilter = $("#cat-servicios-filter").val();
        const proyectoFilter = $("#proyecto-filter").val();
        const sectorFilter = $("#sector-filter").val();
        
        const diaInicioFilter = $("#dia-inicio-filter").val();
        const mesInicioFilter = $("#mes-inicio-filter").val();
        const anoInicioFilter = $("#ano-inicio-filter").val();

        const diaFinFilter = $("#dia-fin-filter").val();
        const mesFinFilter = $("#mes-fin-filter").val();
        const anoFinFilter = $("#ano-fin-filter").val();
        const enCursoFilter = $("#en-curso-filter").val();

        const localizacionFilter = $("#localizacion-filter").val();
        const razonFilter = $("#razon-filter").val()
        
        const checkboxFilter = $("#checkbox-filter").val();

        $("#contratos-table tbody tr").each(function () {
            const $row = $(this);
            const codigo = $row.data("codigo").toUpperCase();
            const catServicios = $row.data("cat-servicios");
            const proyecto = $row.data("proyecto");
            const razon = $row.data("razon");
            const fechaInicio = $row.data("fecha-inicio");
            const fechaFin = $row.data("fecha-fin");
            const sector = $row.data("sector");
            const localizacion = $row.data("localizaciones");

            const isChecked = $row.find(".checkbox").prop("checked");

            // Verificar si el contrato coincide con los filtros seleccionados
            const codigoMatch = codigo.includes(codigoFilter);
            const catServiciosMatch = catServiciosFilter === "" || catServicios === catServiciosFilter;
            const sectorMatch = sectorFilter === "" || sector === sectorFilter;
            const razonMatch = razonFilter === "" || razon === parseInt(razonFilter);
            const localizacionMatch = localizacionFilter === "" || localizacion.includes(localizacionFilter);
            const proyectoMatch = proyectoFilter === "" || proyecto === parseInt(proyectoFilter);
            const fechaInicioMatch = verificarFechaInicio(fechaInicio, diaInicioFilter, mesInicioFilter, anoInicioFilter);
            const fechaFinMatch = verificarFechaFin(fechaFin, diaFinFilter, mesFinFilter, anoFinFilter, enCursoFilter);

            let checkboxMatch = true;
            if (checkboxFilter === "checked") {
                checkboxMatch = isChecked;
            } else if (checkboxFilter === "unchecked") {
                checkboxMatch = !isChecked;
            }

            // Ocultar o mostrar la fila según los filtros
            if (codigoMatch && catServiciosMatch && sectorMatch && razonMatch && proyectoMatch && localizacionMatch && fechaInicioMatch && fechaFinMatch && checkboxMatch) {
                $row.show();
            } else {
                $row.hide();
            }
        });
    }

    // Función para verificar si una fecha de inicio coincide con los filtros de fecha de inicio
    function verificarFechaInicio(fechaInicio, diaInicioFilter, mesInicioFilter, anoInicioFilter) {
        if (!diaInicioFilter && !mesInicioFilter && !anoInicioFilter) {
            return true;
        }

        const fechaInicioParts = fechaInicio.split("-");
        const diaInicio = fechaInicioParts[0];
        const mesInicio = fechaInicioParts[1];
        const anoInicio = fechaInicioParts[2];
        

        if (diaInicioFilter && diaInicioFilter !== diaInicio) {
            return false;
        }

        if (mesInicioFilter && mesInicioFilter !== mesInicio) {
            return false;
        }

        if (anoInicioFilter && anoInicioFilter !== anoInicio) {
            return false;
        }

        return true;
    }

    // Función para verificar si una fecha de fin coincide con los filtros de fecha de fin
    function verificarFechaFin(fechaFin, diaFinFilter, mesFinFilter, anoFinFilter, enCursoFilter) {
        if (enCursoFilter === "en_curso") {
            return fechaFin === "En curso";
        }

        if (!diaFinFilter && !mesFinFilter && !anoFinFilter) {
            return true;
        }

        if (fechaFin === "En curso") {
            return false;
        }

        const fechaFinParts = fechaFin.split("-");
        const diaFin = fechaFinParts[0];
        const mesFin = fechaFinParts[1];
        const anoFin = fechaFinParts[2];

        console.log(diaFin);
        console.log(fechaFin);

        if (diaFinFilter && diaFinFilter !== diaFin) {
            return false;
        }

        if (mesFinFilter && mesFinFilter !== mesFin) {
            return false;
        }

        if (anoFinFilter && anoFinFilter !== anoFin) {
            return false;
        }

        return true;
    }

    // Llamar a la función de filtrado al cargar la página y cuando cambien los filtros
    filtrarContratos();
    $("#codigo-filter, #cat-servicios-filter, #proyecto-filter, #razon-filter, #localizacion-filter, #sector-filter, #dia-inicio-filter, #mes-inicio-filter, #ano-inicio-filter, #dia-fin-filter, #mes-fin-filter, #ano-fin-filter, #en-curso-filter, #reset-filters, #checkbox-filter").on("keyup change", filtrarContratos);

    function exportarExcel(filasMarcadas) {
        const contratosFiltrados = [];
        filasMarcadas.forEach(function (row) {
            const codigo = row.data("codigo");
            const catServicios = row.data("cat-servicios-display");
            const proyecto = row.data("proyecto-nombre");
            const fechaInicio = row.data("fecha-inicio");
            const fechaFin = row.data("fecha-fin");
            const razon = row.data("razon-nombre");
            const descripcion = row.data("descripcion");
            const sector = row.data("sector-display");
            const localizacion = row.data("localizacion");
            const contactoNombre = row.data("contacto-nombre");
            const contactoTelefono = row.data("contacto-telefono");
            const contactoMail = row.data("contacto-mail");
            const ficha = row.data("ficha");
            const atestado = row.data("atestado");
            const empleados = row.data("empleados");

            contratosFiltrados.push({
                Código: codigo,
                "Fecha Inicio": fechaInicio,
                "Fecha Fin": fechaFin,
                Nombre: proyecto,
                "Razón Social": razon,
                "Categoría de Servicios": catServicios,
                Descripción: descripcion,
                Sector: sector,
                "Localización": localizacion,
                "Nombre contacto": contactoNombre,
                "Telefono contacto": contactoTelefono,
                "eMail contacto": contactoMail,
                Ficha: ficha,
                Atestado: atestado,
                Roles: empleados
            });
        });

        // Crear un libro de trabajo de Excel
        const workbook = XLSX.utils.book_new();
        const worksheet = XLSX.utils.json_to_sheet(contratosFiltrados);

        // Agregar la hoja de trabajo al libro
        XLSX.utils.book_append_sheet(workbook, worksheet, "Contratos Filtrados");

        // Guardar el libro en un archivo Excel
        XLSX.writeFile(workbook, "contratos_filtrados.xlsx");
    }

    // Agregar el evento click al botón de exportación
    $("#exportar-excel").on("click", function () {
        const filasMarcadas = [];
        $("input[type='checkbox']:checked").each(function() {
            const fila = $(this).closest("tr");
            filasMarcadas.push(fila);
        });
        exportarExcel(filasMarcadas);
    });
    

    $(document).ready(function() {
        $("#exportar-excel").click(function() {
            const filasMarcadas = [];
            
            $("input[type='checkbox']:checked").each(function() {
                const fila = $(this).closest("tr");
                filasMarcadas.push(fila);
            });
        });

        $("#seleccionar-todos").click(function() {
            $("tr:visible input[type='checkbox']").prop("checked", true);
        });

        $("#deseleccionar-todos").click(function() {
            $("tr:visible input[type='checkbox']").prop("checked", false);
        });
        
        function resetFilters(){
            // Establecer los valores de los elementos de entrada a sus valores predeterminados
            $("#codigo-filter").val("");
            $("#dia-inicio-filter").val("");
            $("#mes-inicio-filter").val("");
            $("#ano-inicio-filter").val("");
            $("#dia-fin-filter").val("");
            $("#mes-fin-filter").val("");
            $("#ano-fin-filter").val("");
            $("#en-curso-filter").val("");
            $("#razon-filter").val("");
            $("#proyecto-filter").val("");
            $("#cat-servicios-filter").val("");
            $("#sector-filter").val("");
            $("#localizacion-filter").val("");
            $("#checkbox-filter").val("all");
        };

        $("#reset-filters").click(function() {
            resetFilters();
            filtrarContratos();
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Evento change para el select de razones sociales
        $("#razon-filter").on("change", function () {
            const razonSocialId = $(this).val(); // Obtener el ID de la razón social seleccionada

            // Verificar si la opción seleccionada es "Todos"
            if (razonSocialId === "") {
                // Si es "Todos", mostrar todos los proyectos disponibles en el select de proyectos
                mostrarTodosLosProyectos();
            } else {
                // Si no es "Todos", realizar la petición AJAX para obtener los proyectos filtrados
                $.ajax({
                    url: "/experiencia/proyectos_filtrados/", // URL de la vista proyectos_filtrados en Django
                    type: "GET",
                    data: { razon_social_id: razonSocialId },
                    dataType: "json",
                    success: function (response) {
                        // Obtener el select de proyectos
                        const proyectosSelect = $("#proyecto-filter");

                        // Limpiar las opciones anteriores del select de proyectos
                        proyectosSelect.empty();

                        // Agregar la opción "Todos" al select de proyectos
                        proyectosSelect.append('<option value="">Todos</option>');

                        // Agregar las opciones filtradas al select de proyectos
                        response.forEach(function (proyecto) {
                            proyectosSelect.append('<option value="' + proyecto.id + '">' + proyecto.nombre + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al obtener los proyectos:", xhr);
                    },
                });
            }
        });

        // Función para mostrar todos los proyectos disponibles en el select de proyectos
        function mostrarTodosLosProyectos() {
            // Obtener el select de proyectos
            const proyectosSelect = $("#proyecto-filter");

            // Limpiar las opciones anteriores del select de proyectos
            proyectosSelect.empty();

            // Agregar la opción "Todos" al select de proyectos
            proyectosSelect.append('<option value="">Todos</option>');

            // Agregar todas las opciones de proyectos disponibles en el select
            {% for proyecto in proyectos %}
                proyectosSelect.append('<option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>');
            {% endfor %}
        }

        // Cuando se carga la página, forzar el evento change para mostrar todos los proyectos al inicio
        mostrarTodosLosProyectos();
    });
</script>



{% endblock %}
