{% extends './base.html' %}
{% block title %}Experiencia-Proyectos{% endblock %}
{% block content %}
<div class="tableForm">
    <div class="top-section">
        <div class="div-atras">
            <a class="boton-atras" href="{% url 'menu-experiencia' %}"> <- Atrás</a>
        </div>
        <h1 style="margin-bottom: 10px; margin-top: 0;">Proyectos</h1>
        <div class="filters">
            <h2>Filtros</h2>
            <div style="margin-top: 10px;">
                <!-- Filtrado razon social -->
                <label for="razon-filter" class="title">Razon Social:</label>
                <select id="razon-filter">
                    <option value="">Todos</option>
                    {% for razon in razones %}
                        <option value="{{ razon.id }}">{{ razon.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="sub-section">
            <a href="{% url 'experiencia-proyectos-agregar' %}" style="margin-bottom: 10px;">Agregar Proyecto</a>
        </div>
    </div>
    <div class="table-section">
        <table id="proyectos-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Razón Social</th>
                    <th>Localización</th>
                    <th>Sector</th>
                    <th>Nombre Contacto</th>
                    <th>Telefono Contacto</th>
                    <th>eMail Contacto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                <tr data-razon="{{ proyecto.razon.id }}"
                    data-proyecto="{{ proyecto.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.razon.nombre }}</td>
                    <td>{{ proyecto.localizacion.all|join:'; ' }}</td>
                    <td>{{ proyecto.get_sector_display }}</td>
                    <td>{{ proyecto.contacto_nombre }}</td>
                    <td>{{ proyecto.contacto_telefono|default:"Sin telefono" }}</td>
                    <td>{{ proyecto.contacto_mail|default:"Sin correo" }}</td>
                    <td>
                        <form method="POST" action="{% url 'borrar_proyecto' proyecto.id %}">
                            {% csrf_token %}
                            <button type="submit">Borrar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function filtrarProyectos(){
        const razonFilter = $("#razon-filter").val()

        $("#proyectos-table tbody tr").each(function () {
            const $row = $(this);
            const proyecto = $row.data("proyecto");
            const razon = $row.data("razon");

            const razonMatch = razonFilter === "" || razon === parseInt(razonFilter);

            if (razonMatch){
                $row.show();
            } else {
                $row.hide();
            }
        });
    };

    filtrarProyectos();
    $("#razon-filter").on("keyup change", filtrarProyectos);;
</script>
{% endblock %}