{% extends './base.html' %}
{% block title %}Experiencia-Razones Sociales{% endblock %}
{% block content %}
<div class="razonesForm">
    <div class="top-section">
        <h1>Razones Sociales</h1>
        <div class="form-experiencia-section">
            <ul>
                <li>Agregar</li>
            </ul>
            <br>
            <form>
                <label for="nombre-razon" class="title">Nombre</label>
                <br>
                <input type="text" name="nombre-razon" required>
                <br>
                <button type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}