<!-- confirmar_borrado.html -->

{% extends './base.html' %}
{% block title %}Confirmar Borrado{% endblock %}
{% block content %}
<style>
    input[type=submit] {
        text-decoration: none;
        color: white;
        font-weight: bold;
        background-color: green;
        border-radius: 12px;
        box-shadow: 0px 4px rgba(0, 0, 0, 0.577);
        padding: 10px;
        transition: background-color .2s;
        width: 100%;
        font-size: 16px;
        border-color: transparent;
    }

    input[type=submit]:hover {
        color: black;
        background-color: white;
    }

    form {
        background-color: transparent;
        box-shadow: none;
    }

</style>
<div class="container">
    <div class="menu" style="text-align: center;">
        <h1 style="color: white;">Confirmar Borrado</h1>
        <p style="color: white;">¿Estás seguro de que deseas eliminar el contrato "{{ contrato.codigo }}"?</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Sí, eliminar contrato">
        </form>
        <ul class="noise-links">
            <li><a href="{% url 'experiencia-tabla' %}">Cancelar</a></li>
        </ul>
    </div>
</div>
{% endblock %}
