{% extends './base.html' %}
{% block title %}Experiencia-Razones Sociales{% endblock %}
{% block content %}
<div class="tableForm">
    <div class="top-section">
        <h1>Razones Sociales</h1>
        <div class="form-experiencia-section">
            <ul>
                <li>Agregar</li>
            </ul>
            <br>
            <form>
                <label for="nombre-razon" class="title">Nombre</label>
                <br>
                <input type="text" name="nombre-razon" required>
                <br>
                <button type="submit">Confirmar</button>
            </form>
        </div>
    </div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Razón Social</th>
                </tr>
            </thead>
            <tbody>
                {% for razon in razones %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ razon.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}