<!-- templates/air_data_filter.html -->
{% extends './base.html' %}
{% block title %}Filtrado Datos Aire{% endblock %}
{% block content %}
<div class="container-form">
  <div class="left">
    <h1>Filtrado de Datos de Aire</h1>
  </div>
  <div class="right">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label for="point_name" class="title">Nombre del punto</label>
        <br>
        <input type="text" name="point_name" required>
      </div>
      <div>
        <label for="standard_1" class="title">Estándar PM2.5 (μg/Nm3)</label>
        <br>
        <input type="number" name="standard_1" step="0.01" required>
      </div>
      <div>
        <label for="standard_2" class="title">Estándar PM10 (μg/Nm3)</label>
        <br>
        <input type="number" name="standard_2" step="0.01" required>
      </div>
      <div>
        <label for="output_file_name" class="title">Nombre del archivo de salida</label>
        <br>
        <input type="text" name="output_file_name" required>
      </div>
      <div>
        <label for="input_file" class="title">Archivo de entrada</label>
        <br>
        <input type="file" name="input_file" required>
      </div>
      <button type="submit">Filtrar Datos</button>
    </form>
  </div>
</div>
{% endblock %}
