{% extends './base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <div class="left">
        <h1>Inicio</h1>
    </div>
    <div class="right">
        <div class="info">
            <p>Tener en cuenta que se trata de una primera versión de la aplicación.<br> Por favor, seguir todos los pasos indicados en cada función para obtener el resutlado deseado.
                <br>Con el paso del tiempo la aplicación se irá actualizando con el fin de solucionar errores y agregar nuevas funciones.
                <br>En caso de encontrar algún error u obtener un resultado incorrecto, enviar un mail a amoras@adapta.uy con el asunto "Error web",una captura de pantalla del error y explicándo que se hizo previamente a que aparezca el fallo.
            </p>
        </div>
    </div>
</div>
{% endblock %}