<!-- templates/air_data_filter.html -->
{% extends './base.html' %}
{% block title %}Procesado Datos Ruido{% endblock %}
{% block content %}
<div class="container-form">
  <div class="left">
    <h1>Procesado de Datos de Ruido</h1>
    <div class="info">
      <label class="title">Instrucciones</label>
      <p>El formato del nombre del archivo que contiene los datos crudos debe ser en caso de pertenecer al proyecto "GVC_FFCC" como "EC01_ABR23.csv" y "P_ABR23_FO_4,535.csv". Se debe respetar siempre las mayúsculas de cómo figura el código del punto en el archivo de resultados en el caso de ser una estructura fija. Por otro lado, si el punto pertenece a otro proyecto el archivo debe seguir el siguiente formato "NOMBREPUNTO_AAMMDD_PROYECTO_DCNPS.csv".<br>
        Una vez completado el formulario y haber presionado el botón "Procesar", esperar a que se descargue el archivo sin realizar ninguna otra acción, esto puede demorar algunos segundos.<br>
        Luego de haberse descargado el archivo Excel, es importante que sea abierto, habilitar la edición del mismo y guardarlo , en lo contrario, los cálculos no surtiran efecto y este archivo no puede ser utilizado en otras funciones de la web.
      </p>
    </div>
  </div>
  <div class="right">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label class="title">Duración total</label>
        <br>
        <input type="radio" id="radio_mins_15" name="duracion" value="15">
        <label for="radio_mins_30">15</label>
        <input type="radio" id="radio_mins_30" name="duracion" value="30">
        <label for="radio_mins_30">30</label>
        <!-- <input type="radio" id="radio_mins_60" name="duracion" value="60">
        <label for="radio_mins_60">60</label> -->
      </div>
      <div>
        <label class="title">Seleccione proyecto:</label>
          <br>
          <input type="radio" id="radio_ef_fo" name="opcion" value="effo">
          <label for="radio_ef_fo">GVC_FFCC</label>
          <input type="radio" id="radio_otro" name="opcion" value="otro">
          <label for="radio_otro">Otros</label>
          <br>
      </div>
      <div>
          <label  for="input_file" class="title">Seleccione Datos crudos</label>
          <br>
          <input class="input-button" type="file" name="input_file" accept=".csv" multiple required>
      </div>
      <!-- <div>
          <label for="template" class="title">Seleccione Plantilla</label>
          <br>
          <input class="input-button" type="file" name="template" accept=".xlsx" required>
      </div> -->
      <button type="submit">Procesar Datos</button>
    </form>
  </div>
</div>
{% endblock %}
